header{
    z-index:10;
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    min-width: 320px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
html, body{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: hsla(0,0%,5%,1);
    font-family: 'Arial', sans-serif;
    background-image: url('https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/DTF-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
body h1{
    width: 100%;
    height: 100%;
    font-size: 150px;
    font-family: 'Donau Uppercase', sans-serif;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    color:white;
    margin-top: -100px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}header{
    z-index:10;
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    min-width: 320px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
html, body{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: hsla(0,0%,5%,1);
    font-family: 'Arial', sans-serif;
    background-image: url('https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/DTF-2.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
body h1{
    width: 100%;
    height: 100%;
    font-size: 150px;
    font-family: 'Donau Uppercase', sans-serif;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    color:white;
    margin-top: -100px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

@media (max-width: 820px) {
    body{
        background-image: url(https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/dtf_ipad-2.png);
        background-size: cover;
    }
    nav {
        flex-direction: row;
        height: 50px;
        padding: 20px 0;
    }
    nav a {
        margin: 5px 0;
        font-size: 20px;
    }
    body h1{
        font-size:200px;
        margin-top: -400px;

    }
    .lower{
        font-size:40px;
        margin-top: -600px;
        margin-left: -100px;
        width: 600px;
        color:white;
        text-align:center;
        font-family: 'Arial', sans-serif;
    }
    .uppe{
        font-size:40px;
        margin-top: 150px;
        color:white;
        text-align:center;
        font-family: 'Arial', sans-serif;
    }

}
@media (max-width: 1920px) {
    body{
        background-image: url('https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/DTF-2.png');
        background-size: cover;
    }
    nav {
        flex-direction: row;
        height: auto;
        padding: 20px 0;
    }
    nav a {
        margin: 5px 0;
        font-size: 30px;
    }
    body h1{
        font-size:200px;
        margin-top: -330px;
    }
    .uppe{
        font-size:30px;
        margin-top: 120px;
        color:white;
        text-align:center;
        font-family: 'Arial', sans-serif;
    }
    .lower{
        font-size:30px;
        margin-top: -500px;
        margin-left: 500px;
        width: 900px;
        color:white;
        text-align:center;
        font-family: 'Arial', sans-serif;
    
    }
    
}

@media (max-width: 375px) {
    body{
        background-image: url(https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/def_phone.png);
        background-size: cover;
    }
    nav{
        height:20px;
        background-color: black;
    }
    nav a {
        font-size: 10px;
    }
    body h1{
        font-size:90px;
    }
}



@media (max-width: 820px) {
    body{
        background-image: url(https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/dtf_ipad-2.png);
        background-size: cover;
    }
    nav {
        flex-direction: row;
        height: 50px;
        padding: 20px 0;
    }
    nav a {
        margin: 5px 0;
        font-size: 20px;
    }
    body h1{
        font-size:200px;
        margin-top: -400px;

    }
    .lower{
        font-size:40px;
        margin-top: -600px;
        margin-left: 100px;
        width: 600px;
        color:white;
        text-align:center;
        font-family: 'Arial', sans-serif;
    }
    .uppe{
        font-size:40px;
        margin-top: 150px;
        color:white;
        text-align:center;
        font-family: 'Arial', sans-serif;
    }

}


