header{
    z-index:10;
}
nav{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1920px;
    min-width: 320px;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
body {
    margin: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background: hsla(0,0%,5%,1);
    background-image: url('https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/night.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.buttons{
    display: flex;
    flex: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 200px;
    background-color:rgba(60, 57, 57, 0.2);
    margin-left: 170px;
    margin-right: 170px;
    border-radius: 20px;
}
.buttons a img{
    max-width: 300px;
    padding:20px;
    opacity:1;
}
@media (max-width:1640px) {
    body{
        background-image: url('https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/nightipad.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav{
        height: 150px;
    }
    nav a{
        font-size: 20px;
    }
    .buttons a img{
        width:197px;
    }
    .buttons{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:5px;
        flex-direction: row;
    }
}
@media (max-width:375px) {
    body{
        background-image: url('https://raw.githubusercontent.com/ryce-bot/SAQ2.github.io/refs/heads/main/nightphone.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    nav{
        height:20px;
        background-color: black;
    }
    nav a {
        font-size: 10px;
    }
    .buttons a img{
        width:100px;
    }
    .buttons{
        margin-top: -5px;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:5px;
        flex-direction: row;
    }
}

